<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
</head>
<body>

  <!-- Header Menu -->
  <ul class="snip1226">
    <li><a href="/" data-hover="Home">Home</a></li>
    <li><a href="#" data-hover="About Us">About Us</a></li>
    <li><a href="#" data-hover="Blog">Blog</a></li>
    <li class="current"><a href="/contactus" data-hover="Contact">Contact</a></li>
  </ul>
  <div class = "contactus">
   <div class="person">
      <div class="container_us">
        <div class="container-inner">
          <img
            class="circle"
            src="/static/images/img1.jpeg"
          />
          <img
            class="img img1"
            src=""
          />
        </div>
      </div>
      <div class="divider"></div>
      <div class="name">Sherin</div>
      <div class="title">Manager</div>
    </div>
    <div class="person">
      <div class="container_us">
        <div class="container-inner">
          <img
            class="circle"
            src="/static/images/img2.jpeg"
          />
          <img
            class="img img1"
            src=""
          />
        </div>
      </div>
      <div class="divider"></div>
      <div class="name">Armando Hoxhari</div>
      <div class="title"> Manager</div>
    </div><div class="person">
      <div class="container_us">
        <div class="container-inner">
          <img
            class="circle"
            src="/static/images/img3.jpeg"
          />
          <img
            class="img img1"
            src=""
          />
        </div>
      </div>
      <div class="divider"></div>
      <div class="name">Tiya  Augustine</div>
      <div class="title"> Manager</div>
    </div><div class="person">
      <div class="container_us">
        <div class="container-inner">
          <img
            class="circle"
            src="/static/images/img4.jpeg"
          />
          <img
            class="img img1"
            src=""
          />
        </div>
      </div>
      <div class="divider"></div>
      <div class="name">Uldis Elksnis</div>
      <div class="title">Manager</div>
    </div><div class="person">
      <div class="container_us">
        <div class="container-inner">
          <img
            class="circle"
            src="/static/images/img5.jpeg"
          />
          <img
            class="img img1"
            src=""
          />
        </div>
      </div>
      <div class="divider"></div>
      <div class="name">Anjima Manju Anilal</div>
      <div class="title"> Manager</div>
    </div>
   </div>
</body>
</html>