<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Food Recipe Main Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
</head>
<body>
<!-- Header Menu -->
<ul class="snip1226">
  <li class="current"><a href="/" data-hover="Home">Home</a></li>
  <li><a href="#" data-hover="About Us">About Us</a></li>
  <li><a href="#" data-hover="Blog">Blog</a></li>
  <li><a href="/contactus" data-hover="Contact">Contact</a></li>
</ul>

<!-- Login Box -->
<div class="login-box">
  <h2>Login</h2>
  <form id = "login-form" action = "{{ url_for('loginpg') }}" method = "POST">
    <div class="user-box">
      <input type="text" name = "email" placeholder="Email Address" required="">
      <label>Email Address</label>
    </div>
    <div class="user-box">
      <input type="password" name = "password" placeholder="Password" name="" required="">
      <label>Password</label>
    </div>
    <a href="#">
      <span></span>
      <span></span>
      <span></span>
      <input type="submit" value="Login">
    </a>
  </form>
</div>
</body>
</html>
